/* ==== tab ==== */
@media screen and (max-width:1024px){
.inner {width:100%; padding:0 3%;}
.pc {display:block;}
.tab {display:block;}
.mob {display:none;}
.pc_img {display:none !important;}
.mob_img {display:block !important;}

body,th,td,input,select,textarea,button {font-size:16px; line-height:28px;}

/* === Main === */
#wrap {position:relative; width:100%; max-width:1024px; min-width:auto; margin:0 auto; overflow:hidden;}
#header {height:75px;}
#header h1 {left:3%; top:20px;}
#header h1 img {width: 120px;}
#header .start_btn {display:none;}
.gnb {display:none;}

.navi {position: fixed; top:0; left:0; width: 100%; height:100%; background:rgba(0,0,0,.5); z-index:999; display:none;}
.navi .lnb {float: right; width: 45%; height:100%; background:#fff; display:block; position:relative; padding-top:105px;}
.navi .lnb h3 {font-size: 22px; height:70px; line-height: 70px; margin:0 7%; border-bottom:1px solid #ddd; }
.navi .lnb h3 a {color: #111; display:block; width:100%; height:100%;}

.navi_btn {display:block; position:absolute; top:26px; right:3%; width:30px; height:20px; cursor:pointer; transition:0.3s ease-in-out; z-index:9999;}
.navi_btn span {position:absolute; left:0; display:block; width:30px; height:3px; background:#3079EC;  transition:0.3s ease-in-out 0.2s;}
.navi_btn span.line01 {top:0;}
.navi_btn span.line02 {top:10px;}
.navi_btn span.line03 {top:20px;}
.navi_btn.on {transform:rotate(-45deg); transition:0.3s ease-in-out 0.2s;}
.navi_btn.on span {top:50%; margin-top:-2px; transition:0.3s ease-in-out; background: #3079EC;}

#visual {position:relative; }
#visual li > p {height:100vh;}
#visual li .main_txt {width: 100%; color: #fff; padding: 0 3%;}
#visual li .main_txt h2 {font-size: 60px; line-height: 80px;  margin-bottom: 30px;}
#visual li .main_txt p {font-size: 22px; line-height: 40px; margin-bottom: 60px;}
#visual li .main_txt p strong {font-weight: bold;}
#visual li .main_txt button {width: 230px; height: 60px; line-height: 60px; border-radius:30px; font-size: 20px; }


#section1 {margin: 100px 0 120px;}
#section1 .tit {margin-bottom: 70px;}
#section1 .tit h2 {font-size: 50px; margin-bottom: 30px;}
#section1 .tit p {font-size: 20px;}

#section1 .service_wrap .service {margin-bottom: 70px; display:block; }
#section1 .service_wrap .service .txt {width: 100%; padding-right: 0; margin-top: 45px;}
#section1 .service_wrap .service .txt span {font-size: 22px; margin-bottom: 20px;}
#section1 .service_wrap .service .txt h3 {font-size: 42px; padding-bottom: 30px; margin-bottom:30px;}
#section1 .service_wrap .service .txt h3::after {content:''; width: 35px; height: 3px; background: #091D3E; position:absolute; left:0; bottom:0;}
#section1 .service_wrap .service .txt p {color: #000; font-size: 18px; line-height: 30px;}

#section1 .service_wrap .service .img {width: 100%;}
#section1 .service_wrap .service .img img {width: 100%;}
#section1 .service_wrap .service:nth-child(2) .txt {padding-right: 0; padding-left: 0;}


#section2 {padding: 80px 0 100px;}
#section2 h2 {font-size: 42px; line-height: 60px; margin-bottom: 50px;}
#section2 .m_logo li {float:left; width: 32%; margin-right: 2%; margin-top: 2%;}
#section2 .m_logo li:nth-child(3) {margin-right: 0;}
#section2 .m_logo li:nth-child(-n+3) {margin-top: 0;}
#section2 .m_logo li:nth-child(4) {margin-left: 17%;}
#section2 .m_logo li:last-child {margin-right: 0;}
#section2 .m_logo li img {width: 100%;}


.sub_tit span {font-size: 30px; margin-bottom: 25px;}
.sub_tit h2 {font-size: 42px; line-height: 60px;}
.sub_tit p {font-size: 18px; margin-top: 30px; line-height: 1;}

#section3 {width: 100%; margin: 100px 0 120px;}
#section3 .sub_tit {margin-bottom: 60px;}
#section3 .beta_list li {float:left; width: 49%; margin-right: 2%; background: #EDF2F8; padding: 55px 40px; border-radius:30px;}
#section3 .beta_list li h3 {font-size: 35px; margin-bottom: 35px;}
#section3 .beta_list li span {font-size: 20px; margin-bottom: 15px;}
#section3 .beta_list li p {font-size: 17px; line-height: 30px; margin-bottom:35px;}
#section3 .beta_list li button {width: 170px; height: 50px; background: #091D3E; text-align: center; line-height: 50px; color: #fff; font-size: 16px; font-weight: bold; border-radius:25px;}
#section3 .beta_list li:last-child {margin-right: 0;}


#section4 {padding: 90px 0;}
#section4 img {display:block; margin: 0 auto;}
#section4 h2 { font-size: 40px; line-height: 60px; margin-top: 40px;}
#section4 h2 br {display:none;}

#section5 {width: 100%; margin: 100px 0 120px;}
#section5 .sub_tit {margin-bottom: 60px;}
#section5 .member_list .member {float:left; width: 49%; margin-right: 2%; margin-top: 2%; border-radius:30px; padding: 50px 40px 55px;}
#section5 .member_list .member:nth-child(2n) {margin-right: 0;}
#section5 .member_list .member:nth-child(-n+4) {margin-top: 2%;}
#section5 .member_list .member:nth-child(-n+2) {margin-top: 0;}
#section5 .member_list .member:last-child {margin-right: 0;}
#section5 .member_list .member:nth-child(5) {margin-left:0;}
#section5 .member_list .member h4 {color: #091D3E; font-size: 30px; line-height: 1; margin: 45px 0 25px;}
#section5 .member_list .member h4 span {display:inline-block; margin-left: 12px; color: #3079EC; font-size: 18px; font-weight: bold;}
#section5 .member_list .member .bullet li {font-size: 18px; color: #000; line-height: 28px; margin-bottom: 7px; padding-left: 16px; position:relative;}
#section5 .member_list .member .bullet li::before {content:''; width: 4px; height: 4px; background: #1D96FF; border:50%; position:absolute; left:0; top:12px;}
#section5 .member_list .member .bullet li:last-child {margin-bottom:0;}








}
